@charset "UTF-8";

@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative|PT+Serif);

/* typography */
pre,
code,
kbd {font: 85% Consolas, Monaco, Incolsolata, monospace;}

html {font: 400 110%/1.4em 'PT Serif', serif; text-rendering: optimizeLegibility;}

h1,
h2,
h3,
h4,
h5,
h6 {font-family: 'Cinzel Decorative', sans-serif; line-height: 1.2em;}

abbr[title],
acronym[title] {border-bottom: 0.1em dotted; cursor: help;}

q {quotes: none;}
q:before {content: "“";}
q:after  {content: "”";}

a {text-decoration: none;}
a:hover, a:active, a:focus {outline: 0;}

ol,
ul {margin-left: 0; padding-left: 1em;}
ol {list-style: lower-alpha;}
ul {list-style: none; text-indent: -1em;}
ul li:before {content: "»"; width: 1em; display: block; float: left;}

/* colors */
body {color: black; background-color: white;}
::selection {background: brown; color: white;}
::-moz-selection {background: brown; color: white;}
a {color: royalblue;}
a:visited,
a:focus {color: brown;}
a:hover {color: crimson;}

/* layout */
* {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
body {padding: 1em;}
body > * {max-width: 40em; min-width: 20em; margin: 0 auto;}
body > :first-child {margin-top: 2em;}
body > article,
body > section {min-height: 20em; margin: 1em auto; border: 0.2em solid #000; border-left: 0; border-right: 0;}

pre {margin: 0;}

.inline {float: right; margin: 0.1em 0 0.1em 0.1em;}

hr {height: 0; color: transparent; border-bottom: 0.1em solid #000;}


/* sections */
body > header h1 {font-size: 400%; margin: 0; text-align: center;}
body > header h1 a,
body > header h1 a:visited,
body > header h1 a:hover {color: crimson;}
body > header a:visited {color: royalblue;}
body > header a:hover {color: crimson;}
body > header ul {padding: 0; text-indent: 0; text-align: center;}
body > header li {display: inline-block; margin-right: 1em;}
body > header ul li:before {display: none;}

body > article > * {clear: left;}
body > article > .highlight {clear: both;}
body > article > p:first-of-type:first-letter {font: 400 600%/0.8em 'Cinzel Decorative', sans-serif; float: left; display: block; margin: 0.1em 0.2em 0 0;}
body > article > p:last-of-type {font-size: 0.8em; color: #444;}

body > section nav ul {text-indent: 0;}
body > section nav li:before {content: none; display: none; width: 0;}
body > section .post-date {color: #444; font-size: 0.6em; display: block; float: left; text-align: right; width: 11em; padding-right: 1em;}
